

.form-container {
 width:800px;
 height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  display: block;

  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-input.error {
  border-color: #ff0000;
}

.form-error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.form-submit-button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #45a049;
}
.rating{
  color: #4caf50;
  cursor: pointer;
 font-size: 24px;
display: inline-block;
margin-right:  5px;
}
